<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>950287761962-u97qcnr5ibsnbghchu5s9mduvdbjgb6f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.950287761962-u97qcnr5ibsnbghchu5s9mduvdbjgb6f</string>
	<key>API_KEY</key>
	<string>AIzaSyCbAsjrKCQKCu9XS2X6TX_WkIsWF8HNUxs</string>
	<key>GCM_SENDER_ID</key>
	<string>950287761962</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.exstreamworker</string>
	<key>PROJECT_ID</key>
	<string>doorcast-mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>doorcast-mobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:950287761962:ios:70e6856df97fc6db627953</string>
</dict>
</plist>